@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

a, dl a { cursor: pointer; }

* { text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* base */
html, body { margin: 0; padding: 0; }

body { cursor: default; font-family: source sans pro, proxima nova, sans-serif; font-weight: 300; background: #fff; color: #50505a; font-size: 19px; line-height: 1.6; }

a { color: #c3c3e5; border-bottom:1px solid transparent; text-decoration:none; -webkit-transition:all .5s ease-in; transition:all .5s ease-in; }

a:hover { border-bottom: 1.2px solid #c3c3e5; }

ul, ol, p { margin: 1.5em 0; }

strong a { color: #222; font-weight: 400; }

/* owl slider */
.owl-item p { margin: 0.5em 0; }

/* Content */
.layout-landing .content { max-width: 22em; margin: 90px; }

.layout-landing .content > :first-child { margin-top: 0; }

.signature { color: #c3c3e5; margin-top: 0.5em; font-size: 2.0em; }

img.iseki-logo { height: 1.0em; width: 1.0em;}

/* responsive */
body, .content, .links, .links a, .signature, ul, ol, p { transition: all 250ms ease; }

/* tablet */
@media (max-width: 768px) { body { font-size: 16px; line-height: 1.6; }
  .layout-landing .content { margin: 45px auto; }
  .links { text-align: center; margin-top: 40px; }
  .links a { margin-right: 0; }
  .signature { text-align: center; }
  ul, ol, p { margin: 1.35em 0; } }
/* mobile */
@media (max-width: 468px) { body { font-size: 15px; line-height: 1.6; color: #222; }
  a { color: #111; }
  .layout-landing .content { margin: 15px; }
  .links { text-align: center; margin-top: 20px; }
  .links a { margin-right: 0; }
  ul, ol, p { margin: 1.25em 0; } }
/* wot m8 */
li > strong:first-child { text-transform: uppercase; font-size: 0.7em; font-weight: bold; margin-right: 10px; }

/* posts */
.post-list { display: block; margin: 40px 0; }

.article-item { display: block; overflow: hidden; padding-top: 2px; padding-bottom: 2px; font-size: 0.8em; }
.article-item, .article-item .title, .article-item .date { line-height: 40px; }
.article-item, .article-item:hover { border-bottom: solid 1px #eee; }
.article-item:first-child { border-top: solid 1px #eee; }
.article-item .title { float: left; font-weight: 400; font-size: 1em; }
.article-item .date { float: right; font-size: 0.8em; text-transform: uppercase; font-weight: 400; letter-spacing: 1px; color: #888; }


